.bg-box {
    background-color: #29700A;
    width: auto;
    height: 500px;
    background-image: url(../img/trava.png), url(../img/lampochka.png), url(../img/yizhachok.png), url(../img/ponchik.png), url(../img/dim.jpg);
    background-position: bottom, top, left, right, center;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
    background-size: 150px 150px, 80px 80px, 50px 50px, 50px 50px, 450px 300px;
}